# Secrets & environment
.env
.env.local
.env.*.local

# Dependencies
node_modules/

# Next.js build output
.next/
out/
dist/

# Logs
npm-debug.log*
yarn-error.log*
*.log
.cache/

# Editors
.vscode/
.idea/
.DS_Store

# TypeScript
*.tsbuildinfo
